<div class="empty"></div>
<div class="jobs">
  <div class="job" ng-repeat="job in main.jobs">
    <div>
      <p>Position: {{job.position}}</p>
      <p>Company: {{job.company}}</p>
      <p>Job Link: {{job.jobLink}}</p>
      <p>Applied?: {{job.applied}}</p>
      <p>Created At: {{job.createdAt | date:'short'}}</p>
      <p>Notes: {{job.notes}}</p>
    </div class="nav">
      <button ng-click="main.setJobToEdit(job); main.startEditing()">EDIT</button>
      <button ng-click="main.deleteJob(job._id)">DELETE</button>
  </div>
</div>
<!-- <div class="nav" ng-hide="main.isCreating || main.isEditing"> -->
<div class="nav" ng-hide="main.isEditing" ng-show="main.isCreating">
  <!-- <button ng-click="main.startCreating()">Add Job</button> -->
  <!-- This is my try to move to another page -->
  <button ui-sref="new" ng-click="main.startCreating()">Add Job</button>
</div>


<!-- <div>
  <em>{{newJob.position}}</em><br>
  <em>{{newJob.company}}</em><br>
  <em>{{newJob.jobLink}}</em><br>
</div> -->

<!-- <div ng-show="main.isCreating" class="form">
  <form ng-submit="main.addJob(newJob)">
    <div>
      <label for="position">Position</label>
      <input type="text" ng-model="newJob.position">
    </div>
    <div>
      <label for="company">Company</label>
      <input type="text" ng-model="newJob.company">
    </div>
    <div>
      <label for="jobLink">Job Link</label>
      <input type="text" ng-model="newJob.jobLink">
    </div>
    <div>
      <label for="applied">Applied?</label>
      <input type="checkbox" ng-model="newJob.applied" value="true" checked>
    </div>
    <div>
      <label for="notes">Notes</label>
      <input type="text" ng-model="newJob.notes">
    </div>
    <button type="submit">Create Job</button>
  </form>
  <button ng-click="main.reset(newJob)">RESET</button>
</div> -->






<div class="form" ng-show="main.isEditing">
  <form action="#" ng-submit="main.editJob(main.editedJob)">
    <div>
      <label for="position">Position</label>
      <input type="text" ng-model="main.editedJob.position">
    </div>
    <div>
      <label for="company">Company</label>
      <input type="text" ng-model="main.editedJob.company">
    </div>
    <div>
      <label for="jobLink">Job Link</label>
      <input type="text" ng-model="main.editedJob.jobLink">
    </div>
    <div>
      <label for="applied">Applied?</label>
      <input type="checkbox" ng-model="main.editedJob.applied" value="true" checked>
    </div>
    <div>
      <label for="notes">Notes</label>
      <input type="text" ng-model="main.editedJob.notes">
    </div>
    <button type="submit">UPDATE</button>
  </form>
</div>
