
<div class="empty"></div>

  <div id="briefcase" class="nav">
    <div ng-show="main.isCreating">
      <img src="http://i.imgur.com/2CzoERu.png" style="width:200px;" />
      <div class="tracking">
        <p>NOW TRACKING:</p><br>
      </div>
      <em>{{newJob.position}}</em><br>
      <!-- <em>{{newJob.company}}</em><br>
      <em>{{newJob.jobLink}}</em><br>
      <em>{{newJob.notes}}</em><br> -->
    </div>
  </div>

  <div ng-show="main.isCreating">
    <form ng-submit="main.addJob(newJob)">
      <div>
        <label for="position">Position</label>
        <input type="text" ng-model="newJob.position">
      </div>
      <div>
        <label for="company">Company</label>
        <input type="text" ng-model="newJob.company">
      </div>
      <div>
        <label for="jobLink">Job Link</label>
        <input type="text" ng-model="newJob.jobLink">
      </div>
      <div>
        <label for="applied">Applied?</label>
        <input type="checkbox" ng-model="newJob.applied" value="true" checked>
      </div>
      <div>
        <label for="notes">Notes</label>
        <input type="text" ng-model="newJob.notes">
        <br><br>
      </div>
      <button type="submit">Create Job</button>
    </form>
    <button ng-click="main.reset(newJob)" ui-sref="home">BACK</button>
  </div>
