@viewport{
  zoom: 1.0;
  width: device-width;
}

#sticky-header{
  display: inline-flex;
  flex-direction: row;
  /*background-color: rgba(0,20,66,.8);*/
  background-color: #1f3461;
  color: #fff;
  height: 100px;
  line-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
}

.empty{
  height: 80px;
}

.jobs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.job {
  margin: 5px;
  color: #555;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: .1rem;
  border: 2px solid #1f3461;
  border-radius: 10px;
  padding: 1em;
  /*box-shadow: 9px 9px 5px #888888;*/
  box-shadow: 5px 5px 3px #888888;
}

.nav {
  text-align: center;
}

#briefcase{
  position: relative;
  width: 100%; /* for IE 6 */
}

.tracking{
  position: absolute;
  color: white;
  top: 60px;
  left: 0;
  width: 100%;
}

em{
  position: absolute;
  color: white;
  top: 100px;
  left: 0;
  width: 100%;
}

img{
  cursor: pointer;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

input {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  color: #fcfce8;
  font-size: 12px;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  background-color: #1f3461;
  border-radius: 10px;
  border: 1px solid #1f3461;
  cursor: pointer;
  box-shadow:3px 3px 3px #888888;
}

form {
  text-align: center;
  margin-top: 10px;
}

.search[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search[type=text]:focus {
    width: 100%;
}

body{
  background-color: #fcfce8;
  padding:  2em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

footer{
  background-color: #1f3461;
  color: #fcfce8;
	text-align: center;
  padding: 1em;
  font-size: 16px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5rem;
}
