#sticky-header{
  /*background-color: rgba(0,20,66,.8);*/
  background-color: #1f3461;
  color: #fff;
  height: 100px;
  line-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
}

.jobs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.job {
  margin: 5px;
  color: #555;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  /*line-height: 38px;*/
  letter-spacing: .1rem;
  border: 1px solid #DDD;
  border-radius: 10px;
  padding: 1em;
}

/*p {
  margin: 0px
}*/

.nav {
  text-align: center;
}

label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

input {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  color: #fcfce8;
  font-size: 12px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  background-color: #1f3461;
  border-radius: 8px;
  border: 1px solid #bbb;
  cursor: pointer;
}

form {
  text-align: center;
  margin-top: 40px;
}

body{
  background-color: #fcfce8;
  padding:  2em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
